<%#= react_component 'Main' %>
<%= render 'shared/breadcrumbs' %>

<div class="meal-list">
  <%= link_to new_meal_path do %>
    <div class="meal-card">
      <%= fa_icon 'plus-circle' %>
      <h2>New Meal</h2>
    </div>
  <% end %>

  <% @meals.each do |meal| %>
    <%= link_to meal_path(meal) do %>
      <div class="meal-card">
        <% if meal.image.present? %>
          <%= image_tag meal.image %>
        <% else %>
          <%= fa_icon 'cutlery' %>
        <% end %>
        <h2><%= meal.name %></h2>
      </div>
    <% end %>
  <% end %>
</div>
