<%= render 'shared/breadcrumbs' %>

<%= simple_form_for @meal do |f| %>
  <%= f.input :name %>
  <%= f.input :image, label: 'Image URL' %>
  <%= f.input :recipe, label: 'Recipe URL' %>

  <%= f.submit %>
<% end %>

<p>You will be able to add ingredients after creating your meal</p>
<i>Be sure to include full URLs (example: http://i.imgur.com/fN6mCLi.jpg)</i>
