<!DOCTYPE html>
<html>
  <head>
    <title>Rumble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>>
    <div class="wrapper-for-content-outside-of-footer">
      <%= render 'site/header' %>

      <div class="container">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <%= render 'site/footer' %>
  </body>
</html>
