<!DOCTYPE html>
<html>
  <head>
    <title>Rumble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper-for-content-outside-of-footer">
      <%= render 'site/header' %>
      <% if notice %>
        <p class="notice home"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert home"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
    <%= render 'site/footer' %>
  </body>
</html>
